/**
 * Compliance Scanner - Find personal-data in material from where it needs to be redacted.
 * Copyright (C) 2020 Daniel Holm
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
 
html, body {
  width: 380px;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 3%;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  color: #000;
  font-weight: bold;
  background-color: #7490a8;
}

.highlight-data * {
  display: inline-block;
}

.highlight-data .description{
  color: #929292;
  font-size: larger;
  vertical-align: middle;
  width: 120px;
}

.highlight-data .number {
  color: black;
  font-weight: bolder;
  font-size: 55px;
  vertical-align: middle;
  padding: 40px;
  padding-left: 50px;
  padding-right: 30px;
}

.highlight-data object {
  vertical-align: middle;
  height: 70px;
}

.select-element-scan object {
  vertical-align: middle;
}